<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#9---Anexo:-Readme---Python" data-toc-modified-id="9---Anexo:-Readme---Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>9 - Anexo: Readme - Python</a></span><ul class="toc-item"><li><span><a href="#9.1.-Preparation-of-the-Colab-environment" data-toc-modified-id="9.1.-Preparation-of-the-Colab-environment-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>9.1. Preparation of the Colab environment</a></span></li><li><span><a href="#9.2.-Preparation-Locale-Jupyter-(optional)" data-toc-modified-id="9.2.-Preparation-Locale-Jupyter-(optional)-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>9.2. Preparation Locale-Jupyter (optional)</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#CLONE-REPOSITORY" data-toc-modified-id="CLONE-REPOSITORY-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>CLONE REPOSITORY</a></span></li><li><span><a href="#CREATE-A-NEW-ANACONDA-ENVIRONMENT-LOCALLY" data-toc-modified-id="CREATE-A-NEW-ANACONDA-ENVIRONMENT-LOCALLY-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>CREATE A NEW ANACONDA ENVIRONMENT LOCALLY</a></span></li><li><span><a href="#INSTALL-PYTHON-LIBRARIES" data-toc-modified-id="INSTALL-PYTHON-LIBRARIES-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>INSTALL PYTHON LIBRARIES</a></span></li><li><span><a href="#PUBLISH-THE-KERNEL" data-toc-modified-id="PUBLISH-THE-KERNEL-1.2.0.4"><span class="toc-item-num">1.2.0.4&nbsp;&nbsp;</span>PUBLISH THE KERNEL</a></span></li><li><span><a href="#LAUNCH-JUPYTER-NOTEBOOK-ENVIRONMENT" data-toc-modified-id="LAUNCH-JUPYTER-NOTEBOOK-ENVIRONMENT-1.2.0.5"><span class="toc-item-num">1.2.0.5&nbsp;&nbsp;</span>LAUNCH JUPYTER NOTEBOOK ENVIRONMENT</a></span></li></ul></li></ul></li><li><span><a href="#9.3.-Import-Star-Wars-data---SWAPI" data-toc-modified-id="9.3.-Import-Star-Wars-data---SWAPI-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>9.3. Import Star Wars data - SWAPI</a></span></li></ul></li></ul></div>

<img align="left" style="padding-right:10px;" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/320px-Star_Wars_Logo.svg.png" />

*made by Ferran Carrascosa Mallafr√®.*

< [Data management](modulo1_tema4_Py_50_gest_dat.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb)

__[Open in Colab](https://colab.research.google.com/github/griu/init_python_b1/blob/master/modulo1_tema4_Py_60_anexo.ipynb)__   *: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! When you login to Colab, prepare the environment by running the following code.</span>*

In [ ]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/msc_python.git /content/msc_python
    !git -C /content/msc_python pull
    %cd /content/msc_python

# 9 - Anexo: Readme - Python

## 9.1. Preparation of the Colab environment

Since [Colab](http://colab.research.google.com), you have to clone the repository every time you start a new book. The necessary code for this is included in the books.

## 9.2. Preparation Locale-Jupyter (optional)

#### CLONE REPOSITORY

In local, you can use the same project that you have cloned in the [R README](../R/README.md).

To update it again, from the console:

```
cd init_python_b1
git pull
```

#### CREATE A NEW ANACONDA ENVIRONMENT LOCALLY

We open a command line (with *Anaconda 3.0* already available).

- **Windows**: type `Anaconda` in the "Start" menu and the Anaconda MS-DOS console will appear.
- **Linux**: Open Terminal.

```
deactivate conda
conda create -n initPython383 python=3.8.3
conda activate initPython383
```

Verify that it has been created and is active:

```
conda info --sends
```

#### INSTALL PYTHON LIBRARIES

```
cd init_python_b1
conda activate initPython383
python -m pip install -r requirements.txt
```

#### PUBLISH THE KERNEL

To access the new environment from Jupyter you need to publish the kernel:

```
python -m ipykernel install --user --name initPython383 --display-name "initPython383"
```

It may take a few minutes to post.

#### LAUNCH JUPYTER NOTEBOOK ENVIRONMENT

To access the Jupyter server:

```
conda activate initPython383
jupyter laptop
```

A browser should open with access to Jupyter from where you can access the notebooks. Usually the Jupyter server is opened at http://localhost:8888/.

## 9.3. Import Star Wars data - SWAPI

Datos procesados a partir de https://swapi.dev/documentation#root:

In [ ]:
import requests
import pandas as pd
import numpy as np

In [ ]:
# exec(open('get_entity.py').read())
def get_entity(entity = None, url_base = 'http://swapi.dev/api/'):
# https://swapi.dev/documentation#root
    
    page_num = 1
    results_acum = []
    entity_list = ["films","people","planets","species","starships","vehicles"]
    
    if(entity not in entity_list):
        page_num = None
        print('Call a valid entity: ' + ','.join(entity_list))
    
    while(page_num is not None):
        url = "".join([url_base, entity, '/?page=', str(page_num)])
        rjson = requests.get(url).json()
        results_acum = results_acum + rjson['results']
        if(rjson['next'] is not None):
            page_num = page_num + 1
        else:
            page_num = None
            
    if (len(results_acum) > 0):
        results_df = pd.DataFrame(results_acum)
    else:
        results_df = entity_list
    
    return(results_df)

def str2num(df,num_list):
    num_list = [lab for lab in num_list if lab in df.columns]
    num_list = [lab for lab in num_list if  df[lab].dtype==object]
    for x in num_list:
        if (x=="crew"):
            df.loc[df[x] == "30-165",x] = "165"
        df[x] = pd.to_numeric(df[x].replace('[^0-9\.-]', '', regex=True), errors='coerce')
    return(df)

In [ ]:
res = get_entity()

Call a valid entity: films,people,planets,species,starships,vehicles

In [ ]:
res

['films', 'people', 'planets', 'species', 'starships', 'vehicles']

In [ ]:
films_df = get_entity("films")
people_df = get_entity("people")
planets_df = get_entity("planets")
species_df = get_entity("species")
starships_df = get_entity("starships")
vehicles_df = get_entity("vehicles")

people_df.index = people_df.name
planets_df.index = planets_df.name
species_df.index = species_df.name
starships_df.index = starships_df.name
vehicles_df.index = vehicles_df.name

people_df.drop("name",inplace=True, axis=1)
planets_df.drop("name",inplace=True, axis=1)
species_df.drop("name",inplace=True, axis=1)
starships_df.drop("name",inplace=True, axis=1)
vehicles_df.drop("name",inplace=True, axis=1)

In [ ]:
people_num = ["height","mass","birth_year"]
planets_num = ["diameter","rotation_period","orbital_period","population","surface_water", "gravity"]
species_num = ["average_height","average_lifespan"]
starships_num = ["passengers","length","crew","cost_in_credits","cargo_capacity"
                 ,"hyperdrive_rating","MGLT","max_atmosphering_speed"]
vehicles_num = ["cargo_capacity","cost_in_credits","crew","length","max_atmosphering_speed","passengers"]

In [ ]:
people_df.loc[(people_df["gender"].isin(['n/a', 'none'])) | people_df["gender"].isna(),"gender"] = 'none'
planets_df["temperate_tropical"] = planets_df.climate.apply(lambda x: ("temperate" in x) or ("tropical" in x)).astype(int)

In [ ]:
people_df2 = str2num(people_df,people_num)
planets_df2 = str2num(planets_df,planets_num)
species_df2 = str2num(species_df,species_num)
starships_df2 = str2num(starships_df,starships_num)
vehicles_df2 = str2num(vehicles_df,vehicles_num)

In [ ]:
planets_df2.loc["Bespin","gravity"] = 1.5

In [ ]:
people_df2.to_pickle("www/people_df.pkl")
planets_df2.to_pickle("www/planets_df.pkl")
species_df2.to_pickle("www/species_df.pkl")
starships_df2.to_pickle("www/starships_df.pkl")
vehicles_df2.to_pickle("www/vehicles_df.pkl")

In [ ]:
vehicles_df2.describe()

,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity
count,21.000000,38.000000,38.000000,39.000000,38.000000,3.100000e+01
mean,70008.333333,20.466842,1012.131579,8.179487,36.973684,1.316797e+05
std,99279.640830,39.306859,3191.612032,23.512451,102.298843,4.734958e+05
min,2500.000000,1.500000,30.000000,0.000000,0.000000,0.000000e+00
25%,8000.000000,3.885000,100.000000,1.000000,0.000000,1.000000e+01
50%,15000.000000,9.550000,380.000000,1.000000,1.000000,8.000000e+01
75%,75000.000000,16.825000,815.000000,4.000000,13.500000,5.800000e+03
max,350000.000000,210.000000,20000.000000,140.000000,500.000000,2.000000e+06

< [Data management](modulo1_tema4_Py_50_gest_dat.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb)

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_60_anexo.ipynb)__