<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#4---Colecciones-de-Objetos" data-toc-modified-id="4---Colecciones-de-Objetos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>4 - Colecciones de Objetos</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#4.1.-Definition-of-the-objects" data-toc-modified-id="4.1.-Definition-of-the-objects-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>4.1. Definition of the objects</a></span><ul class="toc-item"><li><span><a href="#BASIC-TYPE" data-toc-modified-id="BASIC-TYPE-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>BASIC TYPE</a></span></li><li><span><a href="#4.1.1.-Operations-with-Booleans" data-toc-modified-id="4.1.1.-Operations-with-Booleans-1.0.1.2"><span class="toc-item-num">1.0.1.2&nbsp;&nbsp;</span>4.1.1. Operations with Booleans</a></span></li><li><span><a href="#4.1.2.-Boolean-Comparators" data-toc-modified-id="4.1.2.-Boolean-Comparators-1.0.1.3"><span class="toc-item-num">1.0.1.3&nbsp;&nbsp;</span>4.1.2. Boolean Comparators</a></span></li><li><span><a href="#4.1.3.-Castings" data-toc-modified-id="4.1.3.-Castings-1.0.1.4"><span class="toc-item-num">1.0.1.4&nbsp;&nbsp;</span>4.1.3. <em>Castings</em></a></span></li><li><span><a href="#4.1.4.-Mathematical-operations" data-toc-modified-id="4.1.4.-Mathematical-operations-1.0.1.5"><span class="toc-item-num">1.0.1.5&nbsp;&nbsp;</span>4.1.4. <em>Mathematical operations</em></a></span></li></ul></li><li><span><a href="#4.2.-lists" data-toc-modified-id="4.2.-lists-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>4.2. lists</a></span><ul class="toc-item"><li><span><a href="#4.2.1.-Length" data-toc-modified-id="4.2.1.-Length-1.0.2.1"><span class="toc-item-num">1.0.2.1&nbsp;&nbsp;</span>4.2.1. Length</a></span></li><li><span><a href="#4.2.2.-Operations-with-Lists" data-toc-modified-id="4.2.2.-Operations-with-Lists-1.0.2.2"><span class="toc-item-num">1.0.2.2&nbsp;&nbsp;</span>4.2.2. Operations with Lists</a></span></li><li><span><a href="#4.2.3.-Text-Operations" data-toc-modified-id="4.2.3.-Text-Operations-1.0.2.3"><span class="toc-item-num">1.0.2.3&nbsp;&nbsp;</span>4.2.3. Text Operations</a></span></li></ul></li><li><span><a href="#4.3.-tuples" data-toc-modified-id="4.3.-tuples-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>4.3. tuples</a></span><ul class="toc-item"><li><span><a href="#4.3.1.-Ranks" data-toc-modified-id="4.3.1.-Ranks-1.0.3.1"><span class="toc-item-num">1.0.3.1&nbsp;&nbsp;</span>4.3.1. Ranks</a></span></li></ul></li><li><span><a href="#4.4.-Dictionaries" data-toc-modified-id="4.4.-Dictionaries-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>4.4. Dictionaries</a></span><ul class="toc-item"><li><span><a href="#4.4.1.-Filters-in-Lists" data-toc-modified-id="4.4.1.-Filters-in-Lists-1.0.4.1"><span class="toc-item-num">1.0.4.1&nbsp;&nbsp;</span>4.4.1. Filters in Lists</a></span></li><li><span><a href="#4.4.2.-List-Comprehension" data-toc-modified-id="4.4.2.-List-Comprehension-1.0.4.2"><span class="toc-item-num">1.0.4.2&nbsp;&nbsp;</span>4.4.2. <em>List Comprehension</em></a></span></li></ul></li></ul></li></ul></li></ul></div>

<img align="left" style="padding-right:10px;" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/320px-Star_Wars_Logo.svg.png" />

*made by Ferran Carrascosa Mallafr√®.*

< [Plots with matplotlib](modulo1_tema4_Py_20_matplotlib.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Object collections: numpy](modulo1_tema4_Py_31_numpy.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_30_colec_obj.ipynb)__   *: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! When you login to Colab, prepare the environment by running the following code.</span>*

In [ ]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/msc_python.git /content/msc_python
    !git -C /content/msc_python pull
    %cd /content/msc_python

# 4 - Colecciones de Objetos

### 4.1. Definition of the objects

#### BASIC TYPE

In Python, the data type is set at object creation.

The main basic types are:

  | Example | Builders | Data type |
  | ------- | ------------- | ------- |
  | x = "Hello World" | x = str("Hello World") | str |
  | x = 20 | x = int(20) | int |
  | x = 20.5 | x = float(20.5) | float |
  | x = True | x = bool(5) | bool |
 
To find out the type of an object, use `type()`.

> **Remember**: To know the type of the object use `type()`.

In [ ]:
a = 3 > 4
print("The type of 'a' is:",type(a),"and it value is",a)

#### 4.1.1. Operations with Booleans

`and`, `or` and `not` are used to operate on `True` and `False`:

In [ ]:
True or not True

#### 4.1.2. Boolean Comparators

The typical ones: `<`, `<=`, `>`, `>=`

Plus:

In [ ]:
3 == 4.  # equality

In [ ]:
5 != 5  # unequality

Comparison of objects with `is` and `is not`:

In [ ]:
a = "I am a string"
type(a) is str

In [ ]:
a = 45.
type(a) is not int

> **Remember**: To negate logical expressions, use `not`.

In [ ]:
not (True or not False)

####  4.1.3. *Castings*

It uses the constructors of each type to perform *casting*.

In [ ]:
print('True es',int(True),'y False es',int(False))

#### 4.1.4. *Mathematical operations*

You can import the *math* library.

In [ ]:
import math
math.cos(math.pi)

### 4.2. lists

Its elements are enclosed in square brackets and separated by commas: `[ele1, elem2, ...]`.

Its elements can be objects of different types:

In [ ]:
a = True
b = "Text"
c = 3.1416
d = [a, b, c]
d

#### 4.2.1. Length

With `len()` you get the number of elements:

In [ ]:
len(d)

#### 4.2.2. Operations with Lists

You can concatenate lists with `+`:

In [ ]:
[1,2,3] + [4,5,6] # add lists

Even repeat them with `*`:

In [ ]:
[1,2,3] * 2  # scalar multiplication

Find if the list contains (or does not contain) an element with `in` (resp. `not in`).

In [ ]:
a = 'I am'
b = ['here','I am']
a in b

In [ ]:
c = ['here','I am not']
a not in c

Minimums and maximums:

In [ ]:
a = [3,1,5]
min(a)

#### 4.2.3. Text Operations

In Python, the `str` text type behaves like a list:

In [ ]:
a = 'I have length 17.'
len(a)

Concatenate *strings* with `+`:

In [ ]:
a = "The symbol adds" + " concatenates" + " the text"
a

The text also multiplies:

In [ ]:
a = "abc" * 3
a

Be careful with adding text and other types (int, float, bool):

```
a = "Text plus " + 24
a
```

To avoid the error, first cast with the `str()` constructor:

In [ ]:
a = "Text plus " + str(24)
a

An alternative to concatenating text contained in a list is `''.join()`:

In [ ]:
a = ["I am","text","on","list"]
' '.join(a)

This way, it's easy to change the separator character:

In [ ]:
'-'.join(a)

### 4.3. tuples

Its elements are enclosed in parentheses and separated by commas: `(ele1, elem2, ...)`:

In [ ]:
a = (1,2,3)
a

They allow several object assignments to be made in the same expression:

In [ ]:
a, b = 2, 6
print(a,b)

It is common to use tuples to return multiple objects in the same function:

In [ ]:
def breakfast(bacon, eggs):
    return bacon, eggs

bacon, eggs = breakfast(bacon = "well done", eggs = 2)

print("I want the bacon {} and {} eggs".format(bacon, eggs))

> **Remember**: They are immutable. Once its value is set, there is no point in changing it!

#### 4.3.1. Ranks

They are a special case of tuples, defined as sequences.

In [ ]:
a = range(3,6)
a

To convert them to list.

In [ ]:
list(a)

### 4.4. Dictionaries

Its elements are enclosed in braces, separated by commas with a key: `{'key1': val1, 'key2': val1,...}`

There are different ways to declare them, all equivalent:

In [ ]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
a == b == c == d == e

> **Did you know**: Within the elements of a dictionary there is no predetermined ordering.

Its elements are accessed by the key:

In [ ]:
a["one"]

To check the keys:

In [ ]:
a.keys()

Get the list of (key,value) pairs with `items()`.

In [ ]:
a.items()

#### 4.4.1. Filters in Lists

Uses positive integer indices (including zero).

In [ ]:
a = [3,7,2,9,2,8,6]
a[0]

> **Remember**: Python starts its indexes at 0, not 1.

Negatives select starting from the tail.

In [ ]:
a[-2]

Sequences or *slices* defined with `:` are also used.

In [ ]:
a[1:5]

Sequences with steps other than 1 by adding a third element: `start:end:step`.

In [ ]:
a[1:5:2]

You can skip the start or the end to extend the sequence.

In [ ]:
a[:4]

Or, both.

In [ ]:
a[:]

Python strings behave like lists in this aspect, as they allow you to apply filters within the text.

In [ ]:
a = "i am not a list"
a[3:]

#### 4.4.2. *List Comprehension*

List comprehension is an elegant way to automate list calculations.

For example, if you want to reverse the sequence from 1 to 4.

In [ ]:
a = range(1,5)
b = [1 / x for x in a]
b

It also supports conditionals.

In [ ]:
a = [0,1,0,2,0,3,4,0]
b = [1 / x for x in a if x != 0]
b

Dictionaries, in their own way, also admit this resource.

In [ ]:
a = {'one': 1, 'two': 2, 'three': 3}
b = {k: v*v for k,v in a.items()}
b

Now continue with objects of type **numpy**.

< [Plots with matplotlib](modulo1_tema4_Py_20_matplotlib.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Object collections: numpy](modulo1_tema4_Py_31_numpy.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_30_colec_obj.ipynb)__