<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#6-–-Pandas" data-toc-modified-id="6-–-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>6 – Pandas</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#6.2.-Panda-Series" data-toc-modified-id="6.2.-Panda-Series-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>6.2. Panda Series</a></span><ul class="toc-item"><li><span><a href="#6.2.1.-Indexers:-LOC,-ILOC" data-toc-modified-id="6.2.1.-Indexers:-LOC,-ILOC-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>6.2.1. Indexers: LOC, ILOC</a></span></li></ul></li><li><span><a href="#6.3.-Pandas-Dataframe-Objects" data-toc-modified-id="6.3.-Pandas-Dataframe-Objects-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>6.3. Pandas Dataframe Objects</a></span><ul class="toc-item"><li><span><a href="#6.3.1.-Column-Management-in-Dataframes" data-toc-modified-id="6.3.1.-Column-Management-in-Dataframes-1.0.2.1"><span class="toc-item-num">1.0.2.1&nbsp;&nbsp;</span>6.3.1. Column Management in Dataframes</a></span></li></ul></li><li><span><a href="#6.4.-Filters-in-Dataframes" data-toc-modified-id="6.4.-Filters-in-Dataframes-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>6.4. Filters in Dataframes</a></span><ul class="toc-item"><li><span><a href="#6.4.1.-Universal-functions-on-Pandas" data-toc-modified-id="6.4.1.-Universal-functions-on-Pandas-1.0.3.1"><span class="toc-item-num">1.0.3.1&nbsp;&nbsp;</span>6.4.1. Universal functions on Pandas</a></span></li><li><span><a href="#6.4.2.-Index-Alignment" data-toc-modified-id="6.4.2.-Index-Alignment-1.0.3.2"><span class="toc-item-num">1.0.3.2&nbsp;&nbsp;</span>6.4.2. Index Alignment</a></span></li><li><span><a href="#6.4.3.-Missing-Values" data-toc-modified-id="6.4.3.-Missing-Values-1.0.3.3"><span class="toc-item-num">1.0.3.3&nbsp;&nbsp;</span>6.4.3. Missing Values</a></span></li><li><span><a href="#6.4.4.-Guided-Activity-2.4" data-toc-modified-id="6.4.4.-Guided-Activity-2.4-1.0.3.4"><span class="toc-item-num">1.0.3.4&nbsp;&nbsp;</span>6.4.4. Guided Activity 2.4</a></span></li></ul></li></ul></li></ul></li></ul></div>

<img align="left" style="padding-right:10px;" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/320px-Star_Wars_Logo.svg.png" />

*made by Ferran Carrascosa Mallafrè.*

< [Object collections: numpy](modulo1_tema4_Py_31_numpy.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Flow control](modulo1_tema4_Py_40_contr_flujo.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_32_pandas.ipynb)__   *: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! When you login to Colab, prepare the environment by running the following code.</span>*

In [ ]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/msc_python.git /content/msc_python
    !git -C /content/msc_python pull
    %cd /content/msc_python

# 6 – Pandas

Pandas is an abbreviation for Panel Data. Objects within pandas support data analysis with variables of different types: categorical, binary, numeric...

Regarding the numpy, they allow indexing the rows and columns. This type of indexing makes it easier, for example, to perform time series analyses, not necessarily with a fixed frequency.

As always, the first step is to load the library with *namespace* `pd`:

In [ ]:
import pandas as pd

##### 6.1. Guided Activity 2.4

This time, it's about selecting the best possible planet to locate the Jedi academy. The search parameters are:

- Long days to train a lot.
- Plenty of water to cool off.
- Low population density so as not to be disturbed.
- Good climate (temperate or tropical).

> "If there is a true center of the universe, now you are on the planet farthest from it"
     ―Luke Skywalker on Tatooine, the desert planet where Anakin and Luke Skywalker were born.

The first step is to load the planet data:

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for graphics style

entidades = ['planets','starships','vehicles','people','species']
entidades_df = {x: pd.read_pickle('www/' + x + '_df.pkl') for x in entidades}
planets_df = entidades_df['planets'][["rotation_period","diameter","climate"
                                      ,"temperate_tropical","gravity"
                                     ,"surface_water","population"]].dropna()
planets_df = planets_df[planets_df.diameter>0]


planets_df

### 6.2. Panda Series

They are defined as a one-dimensional indexed array.

It can be created from a list:

In [ ]:
a = pd.Series([1.2, 0.4, 2.3])
a

As you see, it joins values and index. We access the values in numpy format with `.values`:

In [ ]:
a.values

Indexes have their own type and are accessed with `.index`:

In [ ]:
a.index

Same features *slicing*, functions, *fancy indexing* as numpy arrays:

In [ ]:
a[1:3] * 2

We can declare the index explicitly:

In [ ]:
a = pd.Series([1.2, 0.4, 2.3], index=['a','b','c'])
a

Or, from a dictionary:

In [ ]:
a = pd.Series({'a': 1.2, 'b': 0.4, 'c': 2.3})
a

The index adds the ability to filter from its values:

In [ ]:
a[['b','c']]

It even has the methods of a dictionary:

In [ ]:
a.keys()

In [ ]:
list(a.items())

#### 6.2.1. Indexers: LOC, ILOC

They are used to modify the behavior of filters.

Its function is to avoid collisions between indexes and positions. For example, the following string has integer indices:

In [ ]:
a = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
a

If the value of index 1 is accessed.

In [ ]:
a[1]

On the other hand, if the values of positions 1 to 3 are requested with slicing.

In [ ]:
a[1:3]

To avoid these confusions, `.loc` is introduced, which allows access to values always based on the index.

In [ ]:
a.loc[1]

In [ ]:
a.loc[1:3]

By contrast, `.iloc` has the opposite purpose, to perform access by position.

In [ ]:
a.iloc[1]

In [ ]:
a.iloc[1:3]

### 6.3. Pandas Dataframe Objects

They can be seen as a generalization of numpy or even dictionaries.

To be able to visualize it, we start from two series, a series of the diameter and another of the population of the planets:

In [ ]:
diameter_dict = {'Tatooine': 10465.0,'Alderaan': 12500.0
                 ,'Bespin': 118000.0,'Endor': 4900.0,'Naboo': 12120.0}
population_dict = {'Tatooine': 2.000000e+05,'Alderaan': 2.000000e+09
                   ,'Bespin': 6.000000e+06,'Endor': 3.000000e+07,'Naboo': 4.500000e+09}

In [ ]:
population = pd.Series(population_dict)
population

In [ ]:
diameter = pd.Series(diameter_dict)
diameter

Now, we build a `DataFrame` with the `pd.DataFrame()` method:

In [ ]:
planetas = pd.DataFrame({'population': population,
                       'diameter': diameter})
planetas

As with series, we access its row index with `.index`:

In [ ]:
planetas.index

Also, we access the column index with `.columns`:

In [ ]:
planetas.columns

We can build from numpy, specifying the name of the columns:

In [ ]:
a = np.ones((3,2))
a

In [ ]:
b = pd.DataFrame(a, columns=["col1","col2"])
b

We can retrieve the numpy with `.values`:

In [ ]:
b.values

We access the inner types with `.dtypes`:

In [ ]:
planets_df.dtypes

#### 6.3.1. Column Management in Dataframes

We access the pandas Series using the dictionary notation:

In [ ]:
planets_df["population"]

Also, as if it were an attribute:

In [ ]:
planets_df.diameter

We can create new columns or series. For example, we calculate:

- The area in Km² of the planet (assuming they are spherical): $4*\pi*Radio²$.
- The population density in inhabitants / Km².

In [ ]:
import math
planets_df["area"] = 4 * math.pi * (planets_df["diameter"]/2)**2
planets_df["density"] = planets_df["population"] / planets_df["area"]

To select multiple columns we use lists. Notice that now, the DataFrame class is kept:

In [ ]:
planets_df[["population","diameter","area","density"]].head()

We will rename a column with `.rename()`:

In [ ]:
planets_df.rename(columns={"area": "Area", "density": "Densidad"}, inplace=True)
planets_df.head()

We will drop the columns with `.drop()`:

In [ ]:
planets_df.drop(columns="Area", inplace=True, errors="ignore")
planets_df.head()

### 6.4. Filters in Dataframes

The same selection logic works as numpys and pandas arrays, but now with two dimensions:

In [ ]:
planets_df.loc[planets_df.Densidad > 50, ['population', 'Densidad']]

As a curiosity, the slicing and logical filters are done by rows:

In [ ]:
planets_df[planets_df.Densidad > 50]

Another curiosity: now positional filters behave like in R, unlike numpy.

In [ ]:
a = planets_df.iloc[[1,7,14],[1,2,4]]
a

Instead, in numpy, coordinates 2 to 2 were paired:

In [ ]:
planets_df.values[[1,4,5],[1,2,4]]

The View assignement is done in the same way.

In [ ]:
a = pd.DataFrame(np.ones((3,2)), columns=["col1","col2"])
b = a.iloc[0:2,0:1]
b

In [ ]:
b.iloc[1,0] = 20
a

> **Remember**: when necessary, make the copy of the object with `.copy()`, this way you will prevent all copies from being modified.

In [ ]:
a = pd.DataFrame(np.ones((3,2)), columns=["col1","col2"])
b = a.iloc[0:2,0:1].copy()
b.iloc[1,0] = 20
a

We have already learned how to see the first 5 rows with `.head()`. It is also possible to see the last rows with `.tail()`:

In [ ]:
planets_df.tail(2)

#### 6.4.1. Universal functions on Pandas

We can apply the universal functions (ufunc) that we have seen in the previous chapter, in the same way, on pandas objects:

In [ ]:
a =  np.sqrt(planets_df[["rotation_period","diameter"]].tail(2))
a

We see how, in this case, we have applied the numpy function, square root, on a DataFrame and this has been applied on each element, respecting the row and column indexes of the table:

#### 6.4.2. Index Alignment

When we perform arithmetic operations between two pandas, the row and column indices are automatically aligned:

In [ ]:
a = planets_df.iloc[[1,3,4],[4,7]]
a

In [ ]:
b = planets_df.iloc[[1,4,7],[4,7]]
b

In [ ]:
a + b

When a row vector is subtracted from a Data Frame, following the Broadcasting rules, this operation is applied to all the rows:

In [ ]:
a

In [ ]:
c = a.iloc[0]
c

In [ ]:
a - c

#### 6.4.3. Missing Values

`None` and `np.nan` in Pandas are very similar. To see an example, we first prepared some sample data:

In [ ]:
print(planets_df.columns)
planetsNA = planets_df[["gravity", "climate", "temperate_tropical"]].head().copy()
planetsNA.head()

In [ ]:
print("planetsNA shape: ", planetsNA.shape)
planetsNA.dtypes # we see the internal types

Now we inject None and NaN.

In [ ]:
planetsNA.loc[1:4,"gravity"] = None
planetsNA.loc[0:2,"temperate_tropical"] = np.nan
planetsNA.loc[0:2,"climate"] = np.nan
planetsNA.loc[2:4,"climate"] = None
planetsNA

In [ ]:
planetsNA.dtypes

Note that:

- `gravity` which was of type `float`, when inserting `None`, it has been converted to `np.nan`.
- `climate` with type object, differentiates `NaN` and `None`.
- `rotation_period` which was initially of type integer (`int`), when assigning `np.nan`, it automatically casts to `float`

Four interesting methods:

- isnull() / notnull(): Mark missing values with `True/False`.
- dropna(): Removes rows and columns with some missing value.
- fillna(): Returns a copy of the data with missing values filled in.

In [ ]:
planetsNA.isnull() # np.nan and None behave the same.

In [ ]:
planetsNA.dropna() # np.nan and None behave the same.

In [ ]:
planetsNA.fillna(0)  # a way to fill missings.

#### 6.4.4. Guided Activity 2.4

Now, we have all the tools to solve the activity:

- Long days to train a lot.
- Plenty of water to cool off.
- Low population density so as not to be disturbed.
- Good climate (temperate or tropical).

Let's see its distribution with Boxplot:

In [ ]:
sns.set(rc={'figure.figsize':(14,4)})
fig, axs = plt.subplots(ncols=3)
plt.gcf().subplots_adjust(bottom=0.15)
sns.boxplot(x='temperate_tropical', y='rotation_period', data=planets_df, ax=axs[0])
sns.boxplot(x='temperate_tropical', y='surface_water', data=planets_df, ax=axs[1])
sns.boxplot(x='temperate_tropical', y='Densidad',data=planets_df, ax=axs[2]);

- Rotations above 24 are above the median (boxplot central axis).
- % of water surface above 10%, avoid unsuitable planets.
- Density below 50 people per Km² is more than enough to filter out overly populated planets.

In [ ]:
planets_df_sel = planets_df[(planets_df.Densidad<50) 
                            & (planets_df.rotation_period>24) 
                            & (planets_df.surface_water>10)]
print(planets_df_sel.shape)
planets_df_sel

There are 7 planets left. Let's now see a scatter plot with a summary of the main variables:

In [ ]:
sns.set(rc={'figure.figsize':(10,6)});
g = sns.scatterplot(x="rotation_period", y = "surface_water", data=planets_df_sel
                            , alpha =0.7
                            , hue= "climate"
                            , size="Densidad")
g.set_title('Planets for the Jedi academy');
plt.legend(loc='lower right')
limit = g.set(ylim=(-10, None));

# search for the planet to be labeled
planets_df_sel_final = planets_df_sel[(planets_df_sel.rotation_period>30)&(planets_df_sel.surface_water>60) ]
# insert the label
p = plt.annotate(planets_df_sel_final.index[0],
             (planets_df_sel_final.rotation_period[0],planets_df_sel_final.surface_water[0])
             , textcoords="offset points" # offsets the point
             , xytext=(0,5)  # offset distance
             , ha='right'
            , color="red")   # centered)

Looks like we already have the perfect destination for the Jedi academy! His name is **Glee Anselm**

Let's look at your data:

In [ ]:
planets_df_sel_final

< [Object collections: numpy](modulo1_tema4_Py_31_numpy.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Flow control](modulo1_tema4_Py_40_contr_flujo.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_32_pandas.ipynb)__