<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#5---Numpy" data-toc-modified-id="5---Numpy-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>5 - Numpy</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#5.2.-Data-type-in-Numpy" data-toc-modified-id="5.2.-Data-type-in-Numpy-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>5.2. Data type in Numpy</a></span></li><li><span><a href="#5.3.-Universal-Functions" data-toc-modified-id="5.3.-Universal-Functions-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>5.3. Universal Functions</a></span></li><li><span><a href="#5.4.-Sequences-in-Numpy" data-toc-modified-id="5.4.-Sequences-in-Numpy-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>5.4. Sequences in Numpy</a></span></li><li><span><a href="#5.5.-Dimensions-in-Numpy" data-toc-modified-id="5.5.-Dimensions-in-Numpy-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>5.5. Dimensions in Numpy</a></span></li></ul></li><li><span><a href="#5.6.-Filters-in-Numpy" data-toc-modified-id="5.6.-Filters-in-Numpy-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>5.6. Filters in Numpy</a></span><ul class="toc-item"><li><span><a href="#5.6.1.-Slicing-Filters" data-toc-modified-id="5.6.1.-Slicing-Filters-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>5.6.1. Slicing Filters</a></span></li><li><span><a href="#5.6.2.-Fancy-indexing" data-toc-modified-id="5.6.2.-Fancy-indexing-1.0.1.2"><span class="toc-item-num">1.0.1.2&nbsp;&nbsp;</span>5.6.2. Fancy indexing</a></span></li></ul></li><li><span><a href="#5.7.-Modify-Arrays" data-toc-modified-id="5.7.-Modify-Arrays-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>5.7. Modify Arrays</a></span><ul class="toc-item"><li><span><a href="#5.7.1.-Views-not-copied" data-toc-modified-id="5.7.1.-Views-not-copied-1.0.2.1"><span class="toc-item-num">1.0.2.1&nbsp;&nbsp;</span>5.7.1. Views not copied</a></span></li><li><span><a href="#5.7.2.-Array-Copies" data-toc-modified-id="5.7.2.-Array-Copies-1.0.2.2"><span class="toc-item-num">1.0.2.2&nbsp;&nbsp;</span>5.7.2. Array Copies</a></span></li><li><span><a href="#5.7.2.1-Deep-Copies-of-Arrays" data-toc-modified-id="5.7.2.1-Deep-Copies-of-Arrays-1.0.2.3"><span class="toc-item-num">1.0.2.3&nbsp;&nbsp;</span>5.7.2.1 Deep Copies of Arrays</a></span></li><li><span><a href="#5.7.3.-Shape-changes" data-toc-modified-id="5.7.3.-Shape-changes-1.0.2.4"><span class="toc-item-num">1.0.2.4&nbsp;&nbsp;</span>5.7.3. <em>Shape</em> changes</a></span></li><li><span><a href="#5.7.4.-Concatenate-Arrays" data-toc-modified-id="5.7.4.-Concatenate-Arrays-1.0.2.5"><span class="toc-item-num">1.0.2.5&nbsp;&nbsp;</span>5.7.4. Concatenate Arrays</a></span></li><li><span><a href="#5.7.5.-Array-Broadcasting" data-toc-modified-id="5.7.5.-Array-Broadcasting-1.0.2.6"><span class="toc-item-num">1.0.2.6&nbsp;&nbsp;</span>5.7.5. Array Broadcasting</a></span></li><li><span><a href="#5.7.6.-Convert-to-Lists" data-toc-modified-id="5.7.6.-Convert-to-Lists-1.0.2.7"><span class="toc-item-num">1.0.2.7&nbsp;&nbsp;</span>5.7.6. Convert to Lists</a></span></li><li><span><a href="#5.7.7.-Missing-Values" data-toc-modified-id="5.7.7.-Missing-Values-1.0.2.8"><span class="toc-item-num">1.0.2.8&nbsp;&nbsp;</span>5.7.7. Missing Values</a></span></li></ul></li></ul></li></ul></li></ul></div>

<img align="left" style="padding-right:10px;" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/320px-Star_Wars_Logo.svg.png" />

*made by Ferran Carrascosa Mallafrè.*

< [Object collections: Lists, tuples and dictionaries](modulo1_tema4_Py_30_colec_obj.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Object collections: pandas](modulo1_tema4_Py_32_pandas.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_31_numpy.ipynb)__   *: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! When you login to Colab, prepare the environment by running the following code.</span>*

In [ ]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/msc_python.git /content/msc_python
    !git -C /content/msc_python pull
    %cd /content/msc_python

# 5 - Numpy

The [numpy](https://numpy.org/) package is the most popular solution within Python for scientific computing.

It collects the best practices introduced in the Lists and organized to perform calculations efficiently. They are structured as vectors or arrays of N dimensions of the same data type.

The first step we will take is to load the library, usually with *namespace* `np`:

In [ ]:
import numpy as np

##### 5.1. Guided Activity 2.3

Before we get down to business, let's introduce the *numpy* guided activity.

It is about selecting the fastest interstellar ship in MGLT (Megalight / Hour), which can carry 4 crew members (like the protagonists: Han Solo, Leia, Luke and Chewbacca). In addition, the cost of the ship must be at most 1M interstellar credits.

> "It's the fastest junk in the galaxy."
     ―Lando Calrissian
    
Lando was referring to the Millennium Falcon. Will it be true?

For this activity we have the following data in pandas format:

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn; seaborn.set()  # for graphics style

entidades = ['planets','starships','vehicles','people','species']
entidades_df = {x: pd.read_pickle('www/' + x + '_df.pkl') for x in entidades}
starships_df = entidades_df['starships'][["cost_in_credits","MGLT","crew"]].dropna()

starships_df

We transform the numpy matrix with the numeric variables:

In [ ]:
starship_np = starships_df.values
starship_np # the rows are the ships and the columns: cost_in_credits, MGLT and crew

We transform the ship names to numpy array:

In [ ]:
starship_names = starships_df.index.values 
starship_names

#### 5.2. Data type in Numpy

Usually, they are created from lists or tuples with homogeneous elements:

In [ ]:
b_np = np.array([True, False, False]) # boolean
b_np

In [ ]:
s_np = np.array(['f', 'h', 'j']) # string
s_np

In [ ]:
i_np = np.array(range(3)) # integer
i_np

In [ ]:
f_np = np.array([2.4, 1.5, 3.0]) # floting point
f_np

All 4 objects share being of type `numpy.ndarray`:

In [ ]:
ej_np = (b_np, s_np, i_np, f_np)
[type(x) for x in ej_np]

However, they each have an internal type accessible with the `.dtype` method:

In [ ]:
[x.dtype for x in ej_np]

Notice that numpy defines its own names for the base types where it adds the size in bits:

- 'U1' is 1-bit Unicode text.
- 'int64', 'float64' 64-bit numerics.

You can define this type in your construction:

In [ ]:
i_np = np.array(range(3), dtype='int16')
i_np

Or convert the numpy from one internal type to another into a new object with `.astype()`:

In [ ]:
s_i_np = i_np.astype(str)
s_i_np

The type of the numerical matrix of the ships is:

In [ ]:
starship_np.dtype

The array of names has a dtype object. This type is used to numpy text:

In [ ]:
starship_names.dtype

This way, it looks better:

In [ ]:
print(starship_names.dtype)

#### 5.3. Universal Functions

In numpy, the universal functions or *ufunc*, are a set of functions that vectorize, that is, when applied to a numpy object, it is applied to each of the elements that compose it.

> **Remember**: We already discussed functions that vectorize, in the R functions chapter.

Typically, functions of this type are arithmetic functions:

In [ ]:
np.array([1,2,3]) * 2  # scalar multiplication

In [ ]:
np.array([1,2,3]) + np.array([4,5,6]) # add vectors

In [ ]:
np.array([1,2,3]) * np.array([4,5,6]) # item-by-item product

NumPy offers an extensive collection of mathematical functions that are applied in a vector way. Some of them are:  `abs`,`sign`, `sqrt`, `log`, `log10`, `exp`, `sin`, `cos`, `tan`, `arcsin`, `arccos`, `arctan`, `sinh`, `cosh`, `tanh`, `arcsinh`, `arccosh` y `arctanh`.

In [ ]:
np.sqrt(np.array([1,2,3,4]))

#### 5.4. Sequences in Numpy

numpy's own function is `np.arange(start,end,step)`:

In [ ]:
np.arange(0,6,2)

Zero sequences:

In [ ]:
np.zeros(3)

In [ ]:
np.ones(3)

Repeat the entire vector:

In [ ]:
a = [1,2,3]
b = np.tile(a, 4)
b

Repeat each element of a vector:

In [ ]:
a = [1,2,3]
b = np.repeat(a, 4)
b

#### 5.5. Dimensions in Numpy

In [ ]:
np.random.seed(123)  # Seed to be able to reproduce

x1 = np.random.randint(10, size=6)  # array 1-dimensional 
x2 = np.random.randint(10, size=(3, 4))  # array 2-dimensional
x3 = np.random.randint(10, size=(3, 4, 5))  # array 3-dimensional

In [ ]:
print("x3 number of dimensions: ", x3.ndim)
print("x3 shape:", x3.shape)
print("x3 number of elements: ", x3.size)
print("X3 number of bytes:", x3.nbytes, "bytes")

Our array of interstellar ships:

In [ ]:
print("Ships number dimensions: ", starship_np.ndim)
print("Names number dimensions: ", starship_names.ndim)
print("Ships shape:", starship_np.shape)
print("Shape names:", starship_names.shape)
print("Ships number of elements: ", starship_np.size)
print("Names number of elements: ", starship_names.size)
print("Ships number of bytes:", starship_np.nbytes, "bytes")
print("Names number of bytes:", starship_names.nbytes, "bytes")

### 5.6. Filters in Numpy

They follow the same rules as in the lists but, now, with more dimensions:

In [ ]:
x2

Array element:

In [ ]:
x2[0, 0]

#### 5.6.1. Slicing Filters

Second column vector:

In [ ]:
x2[:,1]

Vector third row:

In [ ]:
x2[2,:]

Or, the same row, defaulting to the second element:

In [ ]:
x2[2]

On our ships, the columns were: cost_in_credits, MGLT, crew.

To access to the speed (MGLT):

In [ ]:
starship_np[:,1]

To select the 5th ship, a row 4 is selected:

In [ ]:
starship_np[4,:]

To see your name:

In [ ]:
starship_names[4]

#### 5.6.2. Fancy indexing

##### 5.6.2.1. Positional Filters

Another improvement over lists is the ability to index by a list or array.

To filter by a one-dimensional array of positions:

In [ ]:
x1

In [ ]:
ind = [0,2,5]
x1[ind]

> **Remember**: On the list object, this operation is not possible. Instead, list comprehensions are used.

In two dimensions, unlike what is seen in R, rows and columns are paired by coordinates, it is what is called Broadcasting. We will see it later:

In [ ]:
x2

In [ ]:
fils = np.array([0,1])
cols = np.array([0,3])

x2[fils,cols]

> **Remember**: in numpy arrays, filters by position are selected by pairing row and column coordinates. Go to the Broadcasting section to find out more.

In R the following result would be obtained:

In [ ]:
x2[fils,:][:,cols]

##### 5.6.2.2. Logical Filters

Another *fancy indexing* mechanism is logical filters.

Before, let's remember that to obtain the number of crew:

In [ ]:
starship_np[:,2]

To find out which ships have 4 or more crew members:

In [ ]:
starship_np[:,2] >= 4

If we want to rescue their names:

In [ ]:
starship_names[starship_np[:,2] >= 4]

Operators other than `!=` continue to work, on `in`, not on `not in`.

In [ ]:
'Millennium Falcon' in starship_names[starship_np[:,2] >= 4]

> To reproduce the same behavior as R's `a %in% b` operator, use `np.isin(a, b)`:

In [ ]:
a = np.array([1, 2, 3, 4])
b = np.array([3, 4, 5])
np.isin(a,b)

##### 5.6.2.3. Boolean operations

We use the `&`, `|` and `~` instead of the `and`, `or`, `not` (respec.) used in logical types. It will be necessary to close the expressions in parentheses.

For example:

```
( A > 1 ) | ( B < 5)
```

Regarding our ships, those that have 4 or more crew and that cost less than 1M credits:

In [ ]:
starship_names_sel = starship_names[(starship_np[:,2] >= 4) & (starship_np[:,0] <10**6)]
starship_names_sel

> **Remember**: Both expressions are enclosed in parentheses.

Now, we filter the data matrix of these ships:

In [ ]:
starship_np_sel = starship_np[(starship_np[:,2] >= 4) & (starship_np[:,0] <10**6), :]
starship_np_sel

Graphically:

In [ ]:
starship_names_sel

In [ ]:
ind = np.arange(len(starship_names_sel))    # posiciones

plt.bar(ind, starship_np_sel[:,1] );

for i in ind:
    plt.text(ind[i],starship_np_sel[i,1], int(starship_np_sel[i,1]),size=9)

plt.gcf().subplots_adjust(left=0.15,bottom=0.15)
plt.ylabel('Velocity (MGLT)')
plt.title('Selected Interstellar Ships')
p = plt.xticks(ind, starship_names_sel,fontsize=9);

It seems that the Millennium Falcon with 75 MGLT, is the ship we were looking for!

### 5.7. Modify Arrays

To modify an array value:

In [ ]:
x2

In [ ]:
x2[1,1] = 20
x2

Be very careful with the internal type of numpy since it is fixed. It will not change:

In [ ]:
x2[1,1] = 20.765
x2

> **Remember**: If you try to insert a floating point value over a numpy with integer type, it will be cut off.

N values can be modified with a vector of N positions.

In [ ]:
x2[1,:] = x2[0,:] * 10 
x2

Also, several can be modified at the same time, with a single value.

In [ ]:
x2[[1,2],[2,2]] = 55
x2

#### 5.7.1. Views not copied

When a numpy array is assigned to another object, whether filtered with `[,]` or not, it returns a view, not a copy. It is very important to keep this in mind, when modifying the object:

In [ ]:
a = np.array([1, 'm', [2, 3, 4]], dtype=object)
b = a
b[0] = 10
a

> **Important**: Changes to a non-copied view affect all copies.

#### 5.7.2. Array Copies

To copy an array to another object use `copy()`:

In [ ]:
c = a.copy() # ARRAY COPIES
c[0] = 20
print(a)

Now, the original object does not change. But it's not perfect!

In [ ]:
c[2][0] = 30
print(a)

Internally it continues to use references to the same objects.

#### 5.7.2.1 Deep Copies of Arrays

Let's see what it consists of.

In [ ]:
import copy
d = copy.deepcopy(a)
d[2][0] = 40
print(a)

Now copy the internal structure.

#### 5.7.3. *Shape* changes

With `.reshape()` you can modify the dimensions of the array:

In [ ]:
x1

In [ ]:
x1.reshape(2,3)

#### 5.7.4. Concatenate Arrays

To concatenate 2 one-dimensional arrays:

In [ ]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
np.concatenate([x, y])

In [ ]:
grid = np.arange(6).reshape(2,3)

# concatenate rows, (axis = 0)
np.concatenate([grid, grid])

In [ ]:
# concatenate columns, (axis = 1)
np.concatenate([grid, grid], axis=1)

The same with vstack and hstack, but with arrays of different dimensions:

In [ ]:
x = np.array([1, 2, 3])
grid = np.array([[9, 8, 7],
                 [6, 5, 4]])

# vertical syack
np.vstack([x, grid])

In [ ]:
# horizontal stack
y = np.array([[99],
              [99]])
np.hstack([grid, y])

#### 5.7.5. Array Broadcasting

Broadcasting is an alignment operation that strictly follows the following interaction rules between 2 arrays:

- **Rule 1**: if two arrays differ in the number of dimensions, the shape (dimensions) of the one with the smallest dimension is increased with ones from the left:
```
[3,1,6] x [2,6] ----> [3,1,6] x [1,2,6]
[3,5,4] x [3.5] ----> [3,5,4] x [1,3,5]
```
- **Rule 2**: if two arrays have a different shape in some dimension, the array with a shape equal to 1 is stretched (copied) so that it matches the one with the same dimension of the other array:

```
[3,1,6] x [1,2,6] ----> [3,2,6] x [3,2,6]
[3,5,4] x [1,3,5] ----> [3,5,4] x [3,3,5]
```
- **Rule 3**: if any dimension has a different size and there is no dimension 1, an error is thrown:
```
[3,2,6] x [3,2,6] ----> Match
[3,5,4] x [3,3,5] ----> Error !!!
```

In practice, this means facilitating some operations:

In [ ]:
a = np.ones((2,2))
a

In [ ]:
b =  np.tile(0.5, 2)
b

In [ ]:
a - b

#### 5.7.6. Convert to Lists

The numpy's are converted to a list with `.tolist()`:

In [ ]:
a = np.array([2,3,7,3])
b = a.tolist()
b

In [ ]:
type(b)

#### 5.7.7. Missing Values

By definition, a NaN is a floating point number, unlike any other number:

In [ ]:
np.nan != np.nan

In [ ]:
a = np.arange(6).reshape(3,2) * 1.0

a[[1,2],[1] ] = np.nan

a

> **Note**: Broadcast was applied when assigning `np.nan`.

In [ ]:
np.isnan(a)

Numpy is the foundation of array computing. Now let's see what the **pandas** objects provide.

< [Object collections: Lists, tuples and dictionaries](modulo1_tema4_Py_30_colec_obj.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Object collections: pandas](modulo1_tema4_Py_32_pandas.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_31_numpy.ipynb)__