<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preparación-del-entorno" data-toc-modified-id="Preparación-del-entorno-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preparación del entorno</a></span></li><li><span><a href="#8---Data-Management" data-toc-modified-id="8---Data-Management-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>8 - Data Management</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#8.2.-Import-and-Export-Data" data-toc-modified-id="8.2.-Import-and-Export-Data-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>8.2. Import and Export Data</a></span><ul class="toc-item"><li><span><a href="#8.2.1.-Reading-Text-with-Separator" data-toc-modified-id="8.2.1.-Reading-Text-with-Separator-2.0.1.1"><span class="toc-item-num">2.0.1.1&nbsp;&nbsp;</span>8.2.1. Reading Text with Separator</a></span></li><li><span><a href="#8.2.2.-Writing-Text-with-Separator" data-toc-modified-id="8.2.2.-Writing-Text-with-Separator-2.0.1.2"><span class="toc-item-num">2.0.1.2&nbsp;&nbsp;</span>8.2.2. Writing Text with Separator</a></span></li><li><span><a href="#8.2.3.-Reading-and-Writing-in-PICKLE-Format" data-toc-modified-id="8.2.3.-Reading-and-Writing-in-PICKLE-Format-2.0.1.3"><span class="toc-item-num">2.0.1.3&nbsp;&nbsp;</span>8.2.3. Reading and Writing in PICKLE Format</a></span></li></ul></li><li><span><a href="#8.3.-Crossing-between-tables" data-toc-modified-id="8.3.-Crossing-between-tables-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>8.3. Crossing between tables</a></span><ul class="toc-item"><li><span><a href="#8.3.1.-Crosses-by-Ordination-Without-Shared-Index" data-toc-modified-id="8.3.1.-Crosses-by-Ordination-Without-Shared-Index-2.0.2.1"><span class="toc-item-num">2.0.2.1&nbsp;&nbsp;</span>8.3.1. Crosses by Ordination Without Shared Index</a></span></li><li><span><a href="#8.3.2.-Table-Sorting" data-toc-modified-id="8.3.2.-Table-Sorting-2.0.2.2"><span class="toc-item-num">2.0.2.2&nbsp;&nbsp;</span>8.3.2. Table Sorting</a></span></li><li><span><a href="#8.3.3.-Union-by-Columns-Without-Shared-Index" data-toc-modified-id="8.3.3.-Union-by-Columns-Without-Shared-Index-2.0.2.3"><span class="toc-item-num">2.0.2.3&nbsp;&nbsp;</span>8.3.3. Union by Columns Without Shared Index</a></span></li><li><span><a href="#8.3.4.-Union-by-rows" data-toc-modified-id="8.3.4.-Union-by-rows-2.0.2.4"><span class="toc-item-num">2.0.2.4&nbsp;&nbsp;</span>8.3.4. Union by rows</a></span></li><li><span><a href="#8.3.5.-Key-Field-Crossing" data-toc-modified-id="8.3.5.-Key-Field-Crossing-2.0.2.5"><span class="toc-item-num">2.0.2.5&nbsp;&nbsp;</span>8.3.5. Key Field Crossing</a></span></li></ul></li><li><span><a href="#8.4.-Aggregate-Summaries" data-toc-modified-id="8.4.-Aggregate-Summaries-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>8.4. Aggregate Summaries</a></span><ul class="toc-item"><li><span><a href="#8.4.1.-describe" data-toc-modified-id="8.4.1.-describe-2.0.3.1"><span class="toc-item-num">2.0.3.1&nbsp;&nbsp;</span>8.4.1. describe</a></span></li><li><span><a href="#8.4.2.-Basic-Statistics" data-toc-modified-id="8.4.2.-Basic-Statistics-2.0.3.2"><span class="toc-item-num">2.0.3.2&nbsp;&nbsp;</span>8.4.2. Basic Statistics</a></span></li><li><span><a href="#8.4.3.-Tables-of-Frequencies-or-Counts" data-toc-modified-id="8.4.3.-Tables-of-Frequencies-or-Counts-2.0.3.3"><span class="toc-item-num">2.0.3.3&nbsp;&nbsp;</span>8.4.3. Tables of Frequencies or Counts</a></span></li></ul></li><li><span><a href="#8.5.-Aggregated-by-Subgroups" data-toc-modified-id="8.5.-Aggregated-by-Subgroups-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>8.5. Aggregated by Subgroups</a></span><ul class="toc-item"><li><span><a href="#8.5.1.-Grouping-or-GROUPBY" data-toc-modified-id="8.5.1.-Grouping-or-GROUPBY-2.0.4.1"><span class="toc-item-num">2.0.4.1&nbsp;&nbsp;</span>8.5.1. Grouping or <em>GROUPBY</em></a></span></li><li><span><a href="#8.5.2.-Aggregate" data-toc-modified-id="8.5.2.-Aggregate-2.0.4.2"><span class="toc-item-num">2.0.4.2&nbsp;&nbsp;</span>8.5.2. Aggregate</a></span></li><li><span><a href="#8.5.3.-Filtered-out" data-toc-modified-id="8.5.3.-Filtered-out-2.0.4.3"><span class="toc-item-num">2.0.4.3&nbsp;&nbsp;</span>8.5.3. Filtered out</a></span></li><li><span><a href="#8.5.4.-Transformations" data-toc-modified-id="8.5.4.-Transformations-2.0.4.4"><span class="toc-item-num">2.0.4.4&nbsp;&nbsp;</span>8.5.4. Transformations</a></span></li><li><span><a href="#8.5.5.-Application-of-functions" data-toc-modified-id="8.5.5.-Application-of-functions-2.0.4.5"><span class="toc-item-num">2.0.4.5&nbsp;&nbsp;</span>8.5.5. Application of functions</a></span></li></ul></li><li><span><a href="#8.6.-Pivot-Tables" data-toc-modified-id="8.6.-Pivot-Tables-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>8.6. Pivot Tables</a></span></li><li><span><a href="#8.7.-Management-of-Dates-and-Times-(DATETIME)" data-toc-modified-id="8.7.-Management-of-Dates-and-Times-(DATETIME)-2.0.6"><span class="toc-item-num">2.0.6&nbsp;&nbsp;</span>8.7. Management of Dates and Times (DATETIME)</a></span><ul class="toc-item"><li><span><a href="#8.7.1.-Create-Dates-Hours" data-toc-modified-id="8.7.1.-Create-Dates-Hours-2.0.6.1"><span class="toc-item-num">2.0.6.1&nbsp;&nbsp;</span>8.7.1. Create Dates Hours</a></span></li><li><span><a href="#8.7.2.-Get-Components" data-toc-modified-id="8.7.2.-Get-Components-2.0.6.2"><span class="toc-item-num">2.0.6.2&nbsp;&nbsp;</span>8.7.2. Get Components</a></span></li><li><span><a href="#8.7.3.-Datetime-and-Numpy" data-toc-modified-id="8.7.3.-Datetime-and-Numpy-2.0.6.3"><span class="toc-item-num">2.0.6.3&nbsp;&nbsp;</span>8.7.3. Datetime and Numpy</a></span></li><li><span><a href="#8.7.4.-Datetime-and-Pandas" data-toc-modified-id="8.7.4.-Datetime-and-Pandas-2.0.6.4"><span class="toc-item-num">2.0.6.4&nbsp;&nbsp;</span>8.7.4. Datetime and Pandas</a></span></li><li><span><a href="#8.7.5.-Panda-Time-Series" data-toc-modified-id="8.7.5.-Panda-Time-Series-2.0.6.5"><span class="toc-item-num">2.0.6.5&nbsp;&nbsp;</span>8.7.5. Panda Time Series</a></span></li><li><span><a href="#8.7.6.-Date-Sequences" data-toc-modified-id="8.7.6.-Date-Sequences-2.0.6.6"><span class="toc-item-num">2.0.6.6&nbsp;&nbsp;</span>8.7.6. Date Sequences</a></span></li><li><span><a href="#8.7.7.-Tables-of-Counts-or-Frequencies" data-toc-modified-id="8.7.7.-Tables-of-Counts-or-Frequencies-2.0.6.7"><span class="toc-item-num">2.0.6.7&nbsp;&nbsp;</span>8.7.7. Tables of Counts or Frequencies</a></span></li></ul></li></ul></li></ul></li></ul></div>

<img align="left" style="padding-right:10px;" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/320px-Star_Wars_Logo.svg.png" />

*made by Ferran Carrascosa Mallafrè.*

< [Flow control](modulo1_tema4_Py_40_contr_flujo.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Anex](modulo1_tema4_Py_60_anexo.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_50_gest_dat.ipynb)__   *: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! When you login to Colab, prepare the environment by running the following code.</span>*

# Preparación del entorno

¡Padawan! Cuando inicies sesión en Colab, prepara el entorno ejecutando el siguiente código:

In [ ]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/msc_python.git /content/msc_python
    !git -C /content/msc_python pull
    %cd /content/msc_python

# 8 - Data Management

Next, we present the functions for reading/writing data, crossing and building summary tables.

At the end of the chapter, we will introduce how to handle temporary data.

##### 8.1. Guided Activity 2.5

It is about analyzing the characters of the series:

> "He would rather be a monster who believes in something, who would sacrifice everything to improve the galaxy, than be someone who stands on the sidelines and looks like it has no impact on them."
     ―Princess Leia Organa


This activity consists of crossing data of characters and planets to build descriptive summary of the data of characters.

The first step is to load the data of the characters and planets:

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for graphics style

entidades = ['planets','starships','vehicles','people','species']
entidades_df = {x: pd.read_pickle('www/' + x + '_df.pkl') for x in entidades}

# planetas
planets_df = entidades_df['planets'][["climate","temperate_tropical","population","url"]].dropna()

# Datos principales
people_df = entidades_df['people'][["height","mass","eye_color","birth_year","gender","homeworld"]].dropna()

display(people_df.head(),planets_df.head())

### 8.2. Import and Export Data

The simplest way to import structured data (in the form of a matrix of rows and columns), is through DataFrames. The reason is simple, these objects allow you to store data of different types in a single object or data table.

#### 8.2.1. Reading Text with Separator

To read the following text file:

In [ ]:
# show the first 5 rows
n=5
with open('www/mtcars.csv') as f:
    muestra_texto = ""
    for i in range(5):
        muestra_texto +=f.readline()
print(muestra_texto)

Since this is a character-separated file, the generic function for such files is `pd.read_table()`:

In [ ]:
mtcars = pd.read_table("www/mtcars.csv",sep=',', decimal=".")
mtcars.head()

We can customize the load with the following parameters:

- `decimal`: the decimal separator.
- `sep`: the column separator.

Also, it is common to use `enconding="latin_1"` when the file has been created with Windows.

Given the structure of the file, with `pd.read_csv()` the loading is simpler:

In [ ]:
mtcars = pd.read_csv("www/mtcars.csv")

Aside from `.head()`, it's good practice to check your payload with `.shape()`, and `describe()`:

In [ ]:
mtcars.shape

In [ ]:
mtcars.describe()

#### 8.2.2. Writing Text with Separator

For writing, you can use their equivalents: `.to_csv()`. A few minor variations are worth noting:

In [ ]:
mtcars.to_csv("www/mtcars2.csv", decimal=",", sep=";", index=False, encoding="latin_1")

- `index`: Logical field True, False. By default, it inserts the row number.

Notice how the new csv is now in the european csv format with windows encoding.

In [ ]:
# show the first 5 rows
n=5
with open('www/mtcars2.csv') as f:
    muestra_texto = ""
    for i in range(5):
        muestra_texto +=f.readline()
print(muestra_texto)

To read fixed-width text, check out the [pd.read_fwf()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_fwf.html) function.

#### 8.2.3. Reading and Writing in PICKLE Format

Python objects can be made persistent on disk in the pickle format.

> **Did you know**: pickle means pepinillo o vinagreta. That is, the pickle format means that we are putting the Python objects into preserves.

To save a DataFrame in pickle format, use the `.to_pickle("name.pkl")` method:

In [ ]:
mtcars.to_pickle("www/mtcars.pkl")
!dir www/mtcars*

To load a pickle file (remove it from the preserve), we use `pd.read_pickle()`:

In [ ]:
mtcars_pkl = pd.read_pickle("www/mtcars.pkl")
mtcars_pkl.shape

### 8.3. Crossing between tables

To define a crossover in pandas, it is very important to be aware of the presence of the row and column indexes of the source tables. In this sense, the crossing can be carried out by 3 different systems:

- By indices.
- By ordination.
- By key fields.

Let's look at the last two, since index matching is the default option for all functions to be displayed.

#### 8.3.1. Crosses by Ordination Without Shared Index

One way to cross two DataFrames is from the shared ordering, either of the rows or the columns.

#### 8.3.2. Table Sorting

To sort an array, we use the `.sort.values()` method:

In [ ]:
a = people_df.birth_year.sort_values(ascending=False)
a.head()

- `ascending`: Logical field. By default it sorts in ascending order.

In DataFrames, it's not much different, but now you have to indicate the sort field in the ` by ` parameter:

In [ ]:
people_df_Ord = people_df.sort_values(by=["gender","height"], ascending=[True, False])
people_df_Ord.head()

Notice how `ascending` allows you to choose a different sort for each sort field.

In this way, we know that *Padmé Amidala*, at 185 cm, was the tallest woman in the series.

#### 8.3.3. Union by Columns Without Shared Index

To join the columns of two DataFrames that share sorting, use `pd.concat()`.

To see an example, first we are going to prepare 2 example tables.

For the first, we select the first four columns and reset the index with `.reset_index()`:

In [ ]:
people_df1 = people_df.iloc[:,:4].reset_index()
people_df1.head()

> **Important**: when resetting the index with `.reset_index()`, this has become a new field **name** of the table.

Now, the second table with the rest of the fields:

In [ ]:
people_df2 = people_df.iloc[:,4:]
people_df2.head()

The two tables `people_df1` and `people_df2` share a sort, but not the same index. To perform the crossover `ignore_index=True` prevents the function from using the indices:

In [ ]:
a = pd.concat([people_df1, people_df2], ignore_index=True)
a.head()

#### 8.3.4. Union by rows

To join two DataFrames with the same column ordering, we can use pd.concat, although it is more direct with the `.append()` method:

In [ ]:
a1 = people_df.iloc[0:2,:2]
a2 = people_df.iloc[3:5,:2]
a = a1.append(a2)
display(a1,a2,a)

> **Important**: In case you don't share the same column names, you can still use the following parameter: `ignore_index=True`.

#### 8.3.5. Key Field Crossing

Before performing a key field match, it is important to know if it has duplicate values.

##### KEY VECTOR

To get the unique keys of a String or DataFrame, use `.unique()`:

In [ ]:
a = people_df.homeworld.unique()
a

To find out which rows in a DataFrame are duplicates, use `.duplicated()`:

In [ ]:
people_df_dup = people_df.iloc[[1,1,2,3,3,4,5,5,6],:]
people_df_dup.duplicated()

> **Note**: The `.duplicated()` function marks the first copy as `False` and the second copy as `True`.

To remove duplicates, `.drop_duplicates()` is used.

With `keep=False` all rows with duplicates are removed:

In [ ]:
people_df_dup.drop_duplicates(keep=False)

##### 8.3.5.1. Fusion with Keys

To cross 2 tables with keys, use `pd.merge()`.

##### 8.3.5.2. Inner Join

Recall that inner join consists of building a table that has matching keys in the tables.

To see an example, we are going to select, on the one hand, planets with a bad climate, that is, that is not temperate or tropical:

In [ ]:
planets_clima_df = planets_df[planets_df.temperate_tropical==0]
planets_clima_df

On the other hand, we select characters with blue eye color:

In [ ]:
people_eyes_df = people_df[people_df.eye_color=="blue"]
people_eyes_df

The key match field for the match is `url` which is equivalent to the `homeworld` field of people_df:

In [ ]:
a_inner = pd.merge(people_eyes_df, planets_clima_df, left_on=["homeworld"], right_on=["url"])
a_inner.head()

We see that there are four blue-eyed characters who were born on planets with bad weather. The problem is that, with the crossing, the names of both tables contained in the indexes have been lost. Let's rescue them, before the crossover, with the reset_index() function:

In [ ]:
people_eyes_df = people_eyes_df.reset_index()
planets_clima_df = planets_clima_df.reset_index()

a_inner = pd.merge(people_eyes_df, planets_clima_df, left_on=["homeworld"], right_on=["url"])
a_inner.head()

> **Note**: the `name` field was duplicated in both tables without being a key field. `pd.merge()` has included both in the final table by adding the suffix `_x` for left table (people_df) and `_y` right table (planets_df).

The crossing has been done, implicitly, with the `how="inner"` option:

##### 8.3.5.3. Outer Join

To keep **all the records from the original tables**, both from the left table and the right table, whether they match or not, use the `how = "outer"` parameter:

In [ ]:
a_outer = pd.merge(people_eyes_df, planets_clima_df, how = "outer", left_on=["homeworld"], right_on=["url"])
a_outer

You notice that, now, you have not dropped any records from the source tables. In addition, you have padded with `NaN` the fields that do not match. This behavior in SQL is known as *FULL JOIN* or *OUTTER JOIN*.

##### 8.3.5.4. Left Join

To force it to keep **all source values from the left table** and drop those from the right table that are not shared, use `how="left"`:

In [ ]:
a_left = pd.merge(people_eyes_df, planets_clima_df, how="left", left_on=["homeworld"], right_on=["url"])
a_left

Now, he has retained all the characters.

##### 8.3.5.5. Right Join

To preserve **all values from the right table**, use `how="right"`:

In [ ]:
a_right = pd.merge(people_eyes_df, planets_clima_df, how="right", left_on=["homeworld"], right_on=["url"])
a_right

Now, it has preserved all the planets with bad weather.

##### 8.3.5.6. Definition of the Keys

When the keys are common fields, it is not necessary to define the `left_on` and `right_on` fields.

On the other hand, if one of the key fields is contained in the DataFrame index, the `left_index=True` or `right_index=True` parameter or both can be used.

### 8.4. Aggregate Summaries

The numpy and pandas libraries implement an extensive collection of digest functions.

#### 8.4.1. describe

To get a first impression of the statistics of a DataFrame, use `.describe()`.

Before we add to people_df some new columns of different types and, in addition, some missings:

In [ ]:
people_dfSumm = people_df.copy()

people_dfSumm.loc[people_dfSumm.index[[0,2,4,8,20]],'height'] = np.nan
people_dfSumm.loc[people_dfSumm.index[[0,2,4,8,20]],'eye_color'] = np.nan
people_dfSumm["Alto"] = people_dfSumm.height>188
people_dfSumm["Fecha_hoy"] = np.datetime64('2020-09-06')

people_dfSumm.head()

In [ ]:
people_df.describe()

By default, it calculates the following basic statistics on numeric columns:

- `count`: number of reported values (other than NaN).
- `mean`: mean.
- `str`: standard deviation.
- `min`: minimum.
- `25%`: 25% quantile.
- `50%`: 50% quantile or median.
- `75%`: 75% quantile.
- `max`: maximum.

To include them all, use `include='all'`:

In [ ]:
people_dfSumm.describe(include='all')

Now, for non-numeric columns, it reports the `count` and, in addition,:

- `unique`: number of unique values.
- `top`: most frequent value.
- `freq`: observed frequency of the top value.
- `first` and `last`: for datetimes, the first and last date are reported.

#### 8.4.2. Basic Statistics

To calculate the statistics displayed in the `.describe()` function with numpy functions:

In [ ]:
def resumen_numericas_numpy(x):
    return {
        "count":np.sum(~np.isnan(x))
        ,"mean":np.nanmean(x)
        ,"std":np.nanstd(x)
        ,"min":np.min(x)
        ,"quantile 25, 50, 75":np.nanquantile(x, [0.25,.5,.75])
        ,"max":np.max(x)}
    
resumen_numericas_numpy(people_dfSumm.height)

> **Important**: The equivalent functions np.mean, np.std or np.quantile return NaN when the array contains any NaN values.

Now with equivalent functions in pandas:

In [ ]:
def resumen_numericas_pandas(x):
    return {
        "count":x.count()
        ,"mean":x.mean()
        ,"std":x.std()
        ,"min":x.min()
        ,"quantile 25, 50, 75":x.quantile([0.25,.5,.75])
        ,"max":x.max()}
    
resumen_numericas_pandas(people_dfSumm.height)

Note that the default option in pandas is to remove NaNs:

In [ ]:
def resumen_no_numericas_numpy(x):
    value, counts = np.unique(x[~pd.isnull(x)], return_counts=True)
    return {
        "count":np.sum(~pd.isnull(x))
        ,"unique": len(np.unique(x[~pd.isnull(x)]))
        ,"top": value[np.argmax(counts)]
        ,"freq":np.max(counts)}

resumen_no_numericas_numpy(people_dfSumm.eye_color)

> **Important**: For non-numeric columns, None or NaN values have been filtered out with pd.isnull().

Now, with pandas functions:

In [ ]:
def resumen_no_numericas_pandas(x):
    value, counts = np.unique(x[~pd.isnull(x)], return_counts=True)
    return {
        "count":x.count()
        ,"unique": x.nunique()
        ,"top": list(x.mode())[0]
        ,"freq":(x==list(x.mode())[0]).sum()}

resumen_no_numericas_pandas(people_dfSumm.eye_color)

#### 8.4.3. Tables of Frequencies or Counts

##### FREQUENCIES OR COUNTS OF A COLUMN

To get the frequencies of a pandas series, use `.value_counts()`:

In [ ]:
people_dfSumm.eye_color.value_counts()

By default, it sorts from most to least frequent.

We can later sort it by index with `.sort_index()`:

In [ ]:
people_dfSumm.eye_color.value_counts().sort_index()

##### 8.4.3.1. Cross Tables

To get the counts or frequencies of two columns, use `pd.crosstab()`:

In [ ]:
pd.crosstab(people_dfSumm.eye_color,people_dfSumm.gender)

##### 8.4.3.2. Columns cutting

In pandas series, you can cut a column with the `pd.cut()` function:

In [ ]:
people_dfSumm["Altura_Cat"] = pd.cut(people_dfSumm.height,[-np.infty,171,189,np.infty], right=False)

people_dfSumm[["height","Altura_Cat"]].head(8)

Notice how pd.cut() has plotted, at intervals, the `height` column. With `right=False` we ask that the interval be closed on the left and open on the right.

The frequencies of each category:

In [ ]:
people_dfSumm["Altura_Cat"].value_counts().sort_index()

> **Important**: `pd.cut()` creates a new column of type `pd.Categorical`. This data type contains .categories() and .codes(), similar to the `factors` seen in R:

In [ ]:
people_dfSumm["Altura_Cat"].dtype

To retrieve the categories, use `.cat.categories`:

In [ ]:
people_dfSumm["Altura_Cat"].cat.categories

The inner codes of the `.cat.codes` values:

In [ ]:
people_dfSumm["Altura_Cat"].cat.codes.head()

To modify the labels, you can directly modify the category indices:

In [ ]:
people_dfSumm["Altura_Cat"].cat.categories = ["Bajo/a","Mediano/a","Alto/a"]

people_dfSumm[["height","Altura_Cat"]].head(8)

##### 8.4.3.3. Guided Activity 2.5

Let's see now, a summary of the height of the characters by the type of climate of their planet.

The steps to perform are:

1. We cross the tables of characters and planets.
1. We build a new hatched column with a height of 171 cm and 189 cm at cutoff points.
1. We cross the height with the climate of the planet.

In [ ]:
personajes_df = pd.merge(people_df.reset_index(), 
                         planets_df.reset_index(), left_on=["homeworld"], right_on=["url"])
personajes_df.index= personajes_df.name_x         # indexamos por nombre del personaje
personajes_df.head()

In [ ]:
personajes_df["Altura_Cat"] = pd.cut(personajes_df.height,[-np.infty,171,189,np.infty], right=False)
personajes_df.Altura_Cat.cat.categories = ["Bajo/a","Mediano/a","Alto/a"]

personajes_df.Altura_Cat.value_counts().sort_index()

In [ ]:
summ_altura_clima = pd.crosstab(personajes_df.Altura_Cat,personajes_df.temperate_tropical)

summ_altura_clima

To find out the % of characters of each height that live in a temperate-tropical climate or not, use `normalize="index"`. In this way each row will add 1 (that is, 100%):

In [ ]:
summ_altura_clima = pd.crosstab(personajes_df.Altura_Cat,personajes_df.temperate_tropical, normalize="index")

summ_altura_clima.sort_index(axis=1, ascending=False)

Gráficamente:

In [ ]:
summ_altura_clima = summ_altura_clima.sort_index(axis=1, ascending=False) # cambiamos orden columnas para el gráfico
summ_altura_clima

In [ ]:
g = summ_altura_clima.plot.bar(stacked=True,include_bool=True, alpha=0.75, rot=0)
g.legend(bbox_to_anchor=(1, 0.8),title="temperate or tropical")

plt.gcf().subplots_adjust(bottom=0.15,right=0.7)
plt.title("% characters in each climate by Height")
plt.ylabel("%")
plt.xlabel("Height");

Note that **70% of short characters** were born in temperate or tropical climates, compared to **60% of tall characters**.

### 8.5. Aggregated by Subgroups

In addition to frequencies, it is necessary to calculate more relevant statistics. For example, the median age (birth_year), the minimum weight (mass) of the characters, or the average population of their planets by type of climate and height range (high, medium low) of the characters .

#### 8.5.1. Grouping or *GROUPBY*

In order to provide an answer to the problem posed, it is first necessary to introduce the concept of Grouping or GroupBy.

The solution proposed in pandas is to define a division of the table using `.grouby()`. Once the request is defined, summary statistics can be calculated:

In [ ]:
summ1_altura_clima = personajes_df.groupby(["temperate_tropical"
                                            ,"Altura_Cat"])[["mass","birth_year","population"]].median()

summ1_altura_clima

Observe how the mean function has been applied to each of the columns for each combination of the climate of the planets and the height of the people.

Also, a new element appears. It is the ability of DataFrames to have an index composed of more than one column, in this case `temperate_tropical` and `Altura_Cat`.

One way to get around multiple indexes is to add them as columns with `.reset_index()`:

In [ ]:
summ1_altura_clima = summ1_altura_clima.reset_index()

summ1_altura_clima

Now the 2 indexes have become columns of the table.

#### 8.5.2. Aggregate

To apply different aggregation functions to different columns, use `.aggregate()` or `.agg()` for short in combination with `.groupby()`.

A first pass consists of applying several functions to all the selected columns of the data frame:

In [ ]:
summ2_altura_clima = personajes_df.groupby(
    ["temperate_tropical","Altura_Cat"])[
    ["mass","birth_year","population"]].agg(["min","median","mean"])
summ2_altura_clima

Notice that there are now multiple column indexes:

In [ ]:
summ2_altura_clima.columns

One way to combine the two levels of the index into a single name of type `Statistic_Variable`, is by using the function vectorization function `.map()` (you can see more information at: [map](https://www.w3schools.com/python/ref_func_map.asp)). The function to combine the 2 levels is: `"_".join`:

In [ ]:
summ2_altura_clima.columns = summ2_altura_clima.columns.map("_".join)  # combina nombres columna
summ2_altura_clima = summ2_altura_clima.reset_index() # pasamos los indices fila a columnas.

summ2_altura_clima

To resolve the question posed, we need to be able to decide which statistic we want to apply to each column.

We can do this using a dictionary:

In [ ]:
summ3_altura_clima = personajes_df.groupby(
    ["temperate_tropical","Altura_Cat"]).agg({'name_x': 'count', 'birth_year': 'median'
                                              ,'mass':'min','population':'mean'})

summ3_altura_clima = summ3_altura_clima.reset_index()
summ3_altura_clima

Observe, for example, that there are 2 characters of short stature who were born on a planet with a non-temperate or tropical climate, with a median age of 79.5 years BBY, a minimum weight of 75 Kg and who live on planets with an average of 200,000 inhabitants.

In order to identify each row with a label, we are going to combine the tropical_temperature column with the height of the character:

In [ ]:
summ3_altura_clima["clima_altura"] = pd.Series(
    np.where(summ3_altura_clima["temperate_tropical"]==0,"Clima Malo","Clima Bueno")
    ) + "-" + summ3_altura_clima["Altura_Cat"].astype(str)

summ3_altura_clima

To represent this Pandas graphically, we can directly use `plot.scatter()`:

In [ ]:
summ3_altura_clima.plot.scatter(x="birth_year",y="mass",s=20*np.log(summ3_altura_clima.population)
                               ,c="temperate_tropical");

plt.gcf().subplots_adjust(bottom=0.15, left=0.15)
plt.title("Groups by climate and height of the characters");
plt.xlabel("Age");
plt.ylabel("Weight");
plt.text(50,20,"Age")
for index,x in summ3_altura_clima.iterrows():
    plt.text(x["birth_year"],x["mass"]+4,x["clima_altura"],horizontalalignment='center',size=8)
plt.show()

Note that the 3 Bad weather groups (white balls) have higher weight characters.

#### 8.5.3. Filtered out

Apart from adding `.groupby()`, we can use it, in combination, with the `.filter()` function to select groups from the original table that meet certain conditions.

For example, we select the group of characters with the same climate and altitude range where the median age of this group is greater than 90 years:

In [ ]:
seleccion1 = personajes_df.groupby(
    ["temperate_tropical","Altura_Cat"]).filter(lambda fila: fila['birth_year'].median() > 90)

seleccion1

We see how the group formed by "Jar Jar Binks", "Chewbacca", "Ki-Adi-Mundi" are part of the same climate and altitude group and have a median age of over 90 years.

#### 8.5.4. Transformations

Another utility of `.groupby()` combined with `.transform()` is to be able to transform the original data with aggregates, in a simple way.

We compare the age of each character, with respect to the median of their climate group and height range:

In [ ]:
compara1 = personajes_df.groupby(
    ["temperate_tropical","Altura_Cat"]).birth_year.transform(lambda x: np.abs(x - x.median()))

compara1.sort_values(ascending=False).head()

Notice how "Jabba Desilijic Tiure" has a difference of 554 years over the average of his group.

#### 8.5.5. Application of functions

Finally, to gain even more flexibility in transforming data, `.groupby()` is combined with `.apply()` to allow you to selectively apply transformations to certain columns in the DataFrame:

In [ ]:
def centrado(x):
    x['Edad_c'] = x['birth_year']-x['birth_year'].median()
    return x

personajes_df2 = personajes_df.groupby(["temperate_tropical","Altura_Cat"]).apply(centrado)

personajes_df2.head()

Notice that the new Age_c column lets you know that Luke is 19 years below the median for his climate group (bad) and altitude range (medium).

### 8.6. Pivot Tables

`.pivot_table()` pivot tables are an intermediate solution between `pd.crosstabs()`, aimed at obtaining cross tables (rows x columns) and the aggregations performed with `.groupby()`.

That is, apply different aggregation functions, on predefined row and column crossings:

In [ ]:
personajes_df.pivot_table("birth_year", index='Altura_Cat', columns='temperate_tropical')

This table informs us of the average age BBY ('birth_year') over the crossing of the altitude and climate categories.

Pivot table, allows to create multiple index in rows and columns:

In [ ]:
personajes_df.pivot_table("birth_year", index=['gender','Altura_Cat'], columns='temperate_tropical')

Also, it allows selecting which aggregation function is required at each defined junction:

In [ ]:
personalizarDict = {'name_x': 'count', 'birth_year': 'median'
                                              ,'mass':'min','population':'mean'}
personajes_df.pivot_table(index='Altura_Cat', columns='temperate_tropical'
                          , aggfunc=personalizarDict)

Notice how the same table as in the exercise with `.agg()` has been obtained, but now, with a different orientation of rows and columns.

### 8.7. Management of Dates and Times (DATETIME)

The library for managing dates and times in Python is `datetime`. In addition, the `dateutil` extended functionality library is also used:

In [ ]:
from datetime import datetime
from dateutil import parser

#### 8.7.1. Create Dates Hours

To create dates:

In [ ]:
fecha = datetime(year=2020, month=9, day=7) # con datetime

#### 8.7.2. Get Components

To obtain the months and days of the week in Spanish:

In [ ]:
import locale

locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

fecha.strftime('%A')

More information about other components can be found in the [strftime section](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior), or in the [datetime] documentation (https://docs.python.org/3/library/datetime.html) from Python.

#### 8.7.3. Datetime and Numpy

We can define arrays of datetime64 data type:

In [ ]:
fecha = np.array('2020-09-07', dtype=np.datetime64)
fecha

Now, we can optimally perform vectorized operations in numpy:

In [ ]:
fecha + np.arange(12)

Also, we can declare datetime with date and time:

In [ ]:
np.datetime64('2020-09-07 12:00')

#### 8.7.4. Datetime and Pandas

To define dates:

In [ ]:
fecha = pd.to_datetime("2020-9-7")
fecha

Turn into:

In [ ]:
fecha.strftime("%A, %d de %m de %Y")

Vectorize operations:

In [ ]:
fecha + pd.to_timedelta(np.arange(12), 'D')

#####  8.7.4.1. Pandas with Datetime Indexing 

Combining both features is very useful:

In [ ]:
index = pd.DatetimeIndex(['2019-08-07', '2019-09-07',
                          '2020-08-07', '2020-09-07'])
fecha = pd.Series([0, 1, 2, 3], index=index)
fecha

It can be selected by ranges:

In [ ]:
fecha['2019-08-07':'2020-08-07']

Even just by year:

In [ ]:
fecha['2020']

#### 8.7.5. Panda Time Series

To define a pandas datetime series:

In [ ]:
fecha = pd.to_datetime(['2019-08-07', '2019-09-07',
                          '2020-08-07', '2020-09-07'])
fecha

Convert to daily rate:

In [ ]:
fecha.to_period('D')

subtract dates:

In [ ]:
fecha - fecha[0]

#### 8.7.6. Date Sequences

To define a sequence:

In [ ]:
pd.date_range('2020-09-03', '2020-09-07')

Or, specifying the length of the sequence and the periodicity:

In [ ]:
pd.period_range('2020-07', periods=8, freq='M')

#### 8.7.7. Tables of Counts or Frequencies

To generate frequencies use `pd.timedelta_range()`:

In [ ]:
pd.timedelta_range(0, periods=9, freq="2H30T")

You can learn more in the ["Time Series/Date"](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html) section of the Pandas documentation.

< [Flow control](modulo1_tema4_Py_40_contr_flujo.ipynb) | [Table of contents](modulo1_tema4_Py_00_indice.ipynb) | [Anex](modulo1_tema4_Py_60_anexo.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_50_gest_dat.ipynb)__