<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#7---Flow-Control" data-toc-modified-id="7---Flow-Control-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>7 - Flow Control</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#7.2.-Functions" data-toc-modified-id="7.2.-Functions-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>7.2. Functions</a></span><ul class="toc-item"><li><span><a href="#7.2.1-args-and-*kwargs-parameters" data-toc-modified-id="7.2.1-args-and-*kwargs-parameters-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>7.2.1 <em>args and *</em>kwargs parameters</a></span></li></ul></li><li><span><a href="#7.3.-Conditionals" data-toc-modified-id="7.3.-Conditionals-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>7.3. Conditionals</a></span></li><li><span><a href="#7.4.-Loops" data-toc-modified-id="7.4.-Loops-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>7.4. Loops</a></span></li></ul></li></ul></li></ul></div>

<img align="left" style="padding-right:10px;" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/320px-Star_Wars_Logo.svg.png" />

*made by Ferran Carrascosa Mallafrè.*

< [Colecciones de objetos: pandas](modulo1_tema4_Py_32_pandas.ipynb) | [Índice](modulo1_tema4_Py_00_indice.ipynb) | [Gestión de datos](modulo1_tema4_Py_50_gest_dat.ipynb) >

__[Abre en Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_40_contr_flujo.ipynb)__   *: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! When you login to Colab, prepare the environment by running the following code.</span>*

In [1]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/msc_python.git /content/msc_python
    !git -C /content/msc_python pull
    %cd /content/msc_python

# 7 - Flow Control

Flow control tools allow you to automate tasks. In this chapter, we will work on conditional functions and loops.

##### 7.1. Sample data

This chapter will use examples of vehicles from Star Wars:

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for graphics style

entidades = ['planets','starships','vehicles','people','species']
entidades_df = {x: pd.read_pickle('www/' + x + '_df.pkl') for x in entidades}
vehicles_df = entidades_df['vehicles'][["cost_in_credits","length","max_atmosphering_speed"
                                        ,"crew","cargo_capacity","pilots","films"]].dropna()

vehicles_df

,cost_in_credits,length,max_atmosphering_speed,crew,cargo_capacity,pilots,films
name,,,,,,,
Sand Crawler,150000.0,36.80,30.0,46,50000.0,[],"[http://swapi.dev/api/films/1/, http://swapi.d..."
T-16 skyhopper,14500.0,10.40,1200.0,1,50.0,[],[http://swapi.dev/api/films/1/]
X-34 landspeeder,10550.0,3.40,250.0,1,5.0,[],[http://swapi.dev/api/films/1/]
Storm IV Twin-Pod cloud car,75000.0,7.00,1500.0,2,10.0,[],[http://swapi.dev/api/films/2/]
Sail barge,285000.0,30.00,100.0,26,2000000.0,[],[http://swapi.dev/api/films/3/]
Bantha-II cargo skiff,8000.0,9.50,250.0,5,135000.0,[],[http://swapi.dev/api/films/3/]
Imperial Speeder Bike,8000.0,3.00,360.0,1,4.0,"[http://swapi.dev/api/people/1/, http://swapi....",[http://swapi.dev/api/films/3/]
Multi-Troop Transport,138000.0,31.00,35.0,4,12000.0,[],[http://swapi.dev/api/films/4/]
C-9979 landing craft,200000.0,210.00,587.0,140,1800000.0,[],[http://swapi.dev/api/films/4/]
Sith speeder,4000.0,1.50,180.0,1,2.0,[http://swapi.dev/api/people/44/],[http://swapi.dev/api/films/4/]
Zephyr-G swoop bike,5750.0,3.68,350.0,1,200.0,[http://swapi.dev/api/people/11/],[http://swapi.dev/api/films/5/]
Tsmeu-6 personal wheel bike,15000.0,3.50,330.0,1,10.0,[http://swapi.dev/api/people/79/],[http://swapi.dev/api/films/6/]
Droid tri-fighter,20000.0,5.40,1180.0,1,0.0,[],[http://swapi.dev/api/films/6/]
Oevvaor jet catamaran,12125.0,15.10,420.0,2,50.0,[],[http://swapi.dev/api/films/6/]
Raddaugh Gnasp fluttercraft,14750.0,7.00,310.0,2,20.0,[],[http://swapi.dev/api/films/6/]
Clone turbo tank,350000.0,49.40,160.0,20,30000.0,[],[http://swapi.dev/api/films/6/]
Droid gunship,60000.0,12.30,820.0,0,0.0,[],[http://swapi.dev/api/films/6/]
AT-RT,40000.0,3.20,90.0,1,20.0,[],[http://swapi.dev/api/films/6/]

### 7.2. Functions

Let's briefly review what we've covered so far regarding functions in Python.

We have introduced the concept of function in Python in the [Python Basics](modulo1_tema4_Py_10_elem_bas.ipynb) chapter.

Next, in the [Lists, tuples and dictionaries](modulo1_tema4_Py_30_colec_obj.ipynb) chapter, we have explained the possibility of returning several elements, at the same time, in the form of tuples.

In [numpy](modulo1_tema4_Py_31_numpy.ipynb), the universal functions (ufunc) have been explained as a group of functions that vectorize when applied to the elements of the numpy array.

Finally, in [pandas](modulo1_tema4_Py_32_pandas.ipynb), the possibility of applying the universal functions of numpy to pandas objects (Series and DataFrame) and how these functions respect the row and column indexes has been commented. Also, we have discussed index alignment when performing arithmetic between two pandas objects.

In the data management chapter, we will cover 2 additional concepts about functions.

On the one hand, we will see how to vectorize any type of function, on the elements of pandas objects, through the apply function.

> **Remember**: on the subject of R, we already defined apply functions for the same purpose.

The second concept that we will see, will be the aggregation functions (sum, average, quantiles...). We will define them, first, on numpy objects and, later, on pandas.

The combination of both concepts, vectorized functions and aggregation functions on pandas objects, will finish filling your toolbox to get started in data science.

#### 7.2.1 *args and **kwargs parameters

There is a special case of function parameters:

- Parameters starting with an asterisk (e.g. \*args): allows sending parameters without a label (non keyworded arguments).
- Parameters starting with two asterisks (e.g. \*\*kwargs):: allows sending parameters with a label (keyworded arguments).

The names args and kwargs are used by convention.

### 7.3. Conditionals

Let us also make a brief review here of the aspects that we have already commented on regarding conditional structures.

In the [Python Basics](module1_topic4_Py_10_elem_bas.ipynb) chapter, we introduced the basic *if-else* structure.

In the chapter [Lists, tuples and dictionaries](modulo1_tema4_Py_30_colec_obj.ipynb), we use the if-else script in the *list comprehension*.

In [3]:
[x for x in range(5) if x%2==0]  # list of pairs less than 5

[0, 2, 4]

The [Numpy](modulo1_tema4_Py_31_numpy.ipynb) and [Pandas](modulo1_tema4_Py_32_pandas.ipynb) chapters have also been used to deal with filters, as a form of conditional operations on vectors and data frames.

A new way to do conditional transformations with numpy arrays and pandas strings is `np.where()`.

For example, let's see the following variable *crew* that informs us of the maximum number of crew members that a vehicle can carry:

In [4]:
vehicles_df[['crew']].head()

                             crew
name
Sand Crawler                   46
T-16 skyhopper                  1
X-34 landspeeder                1
Storm IV Twin-Pod cloud car     2
Sail barge                     26

To transform this variable into a new one indicating whether a vehicle can carry 1, 2, or 3 or more crew members:

In [5]:
vehicles_df['crew_r'] = np.where(vehicles_df.crew<3, vehicles_df.crew, 3)
vehicles_df[['crew','crew_r']].head()

                             crew  crew_r
name
Sand Crawler                   46       3
T-16 skyhopper                  1       1
X-34 landspeeder                1       1
Storm IV Twin-Pod cloud car     2       2
Sail barge                     26       3

> **Note**: This numpy function applies element by element. Note also that it has been applied to a series of a DataFrame, obtaining a new series.

### 7.4. Loops

We have treated for loops, in a basic way, in the *list comprehension* chapter of [Lists, tuples and dictionaries](modulo1_tema4_Py_30_colec_obj.ipynb).

One way to define for loops is through lists and dictionaries:

In [6]:
crew_list = [1,2,3]
for n_crew in crew_list:
    
    n_vehi = vehicles_df[vehicles_df.crew_r == n_crew].shape[0]
    
    if n_vehi == 1:
        txt_vehicles = 'vehicle'
    else:
        txt_vehicles = 'vehiclea'
    
    txt_crew = 'crew member'
    if n_crew != 1:
        txt_crew = txt_crew + 's'
    
    txt_n_crew = str(n_crew)
    if n_crew==3:
        txt_n_crew = txt_n_crew + ' or more'
    
    print("There are {} {} con {} {}".format(n_vehi, txt_vehicles, txt_n_crew, txt_crew))

There are 8 vehiclea con 1 crew member
There are 3 vehiclea con 2 crew members
There are 6 vehiclea con 3 or more crew members

This loop goes through the `n_crew` list and tells us the number of vehicles with that many crew members.

When we iterate through a dictionary with a `for`, by default, it does so for its keys:

In [7]:
vehiculos_tripulantes = {'one': 8, 'two': 3, '3 or more': 6}

for x in vehiculos_tripulantes:
    print(x)

one
two
3 or more

We can iterate over the `(key,value)` tuple with `.items()`:

In [8]:
for txt_n_crew, n_vehi in vehiculos_tripulantes.items():
    print("Hay",n_vehi,"vehículo/s con",txt_n_crew, "tripulante/s")

Hay 8 vehículo/s con one tripulante/s
Hay 3 vehículo/s con two tripulante/s
Hay 6 vehículo/s con 3 or more tripulante/s

Loops with numpy have list-symmetric logic.

In order to go through 2 collections of objects (lists, dictionaries, numpy, series...) with the same number of elements consecutively, we use the `zip()` function:

In [9]:
a = [1,2,3]
b = [8,3,6]

for x,y in zip(a,b):
    print("Hay",y,"vehículo/s con",[x if x<3 else '3 o más'][0], "tripulante/s")

Hay 8 vehículo/s con 1 tripulante/s
Hay 3 vehículo/s con 2 tripulante/s
Hay 6 vehículo/s con 3 o más tripulante/s

To iterate **through columns** of a DataFrame, we use `.iteritems()`. At each iteration we get the tuple `(column name, string value)`:

In [10]:
for nombreCol,variable in vehicles_df.iteritems():
    print(nombreCol,", tiene tipo:",variable.dtype)

cost_in_credits , tiene tipo: float64
length , tiene tipo: float64
max_atmosphering_speed , tiene tipo: float64
crew , tiene tipo: int64
cargo_capacity , tiene tipo: float64
pilots , tiene tipo: object
films , tiene tipo: object
crew_r , tiene tipo: int64

In the same way, but now iterating a DataFrame **by rows** with `.iterrows()`:

In [11]:
for nombre,fila in vehicles_df.iloc[0:2,0:2].iterrows():
    print(nombre,", costs:",fila.cost_in_credits," and measure:",fila.length , "meters")

Sand Crawler , costs: 150000.0  and measure: 36.8 meters
T-16 skyhopper , costs: 14500.0  and measure: 10.4 meters

< [Colecciones de objetos: pandas](modulo1_tema4_Py_32_pandas.ipynb) | [Índice](modulo1_tema4_Py_00_indice.ipynb) | [Gestión de datos](modulo1_tema4_Py_50_gest_dat.ipynb) >

__[Open in Colab](https://colab.research.google.com/github/griu/msc_python/blob/master/modulo1_tema4_Py_40_contr_flujo.ipynb)__